.achievements-form {
  position: relative;
  margin-top: 76px;

  &::before {
    content: "";
    width: 100vw;
    height: 604px;
    background-color: @dark-white;
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 65px;
    order: 4;

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    height: 233px;
  }
}

.achievements-form__legend {
  margin: 42px 0;
}

.achievements-form__list {
  @media (min-width: @tablet-width) {
    padding: 0 0 0 62px;
    background-color: transparent;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.achievements-form__item {
  height: 35px;
  margin-bottom: 47px;
}

.achievements-form__label {
  color: @dark-blue;
  font-size: 18px;
  padding-left: 59px;
  padding-top: 5px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: 2px solid @darken-white;
    border-radius: 1px;
  }

  &:focus::before,
  &:hover::before {
    border-color: @dark-blue;
  }

  &:active::before {
    border-color: @pink;
  }
}

.achievements-form__input {
  display: none;

  &:checked + .achievements-form__label::before {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
