.advantages {
  text-align: center;
  line-height: 24px;
  background-color: transparent;
  background-image: url("../img/grey-background-1.svg");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: @tablet-width) {
    background-position: center 150px;
  }
}

.advantages__wrapper {
  width: @mobile-width;
  height: 992px;
  padding: 0 20px;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding-top: 45px;
    height: 725px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 130px;
    height: 933px;
  }
}

.advantages__caption {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__list {
  list-style: none;
  padding: 114px 0 330px;
  margin: 0;
  background-image: url("../img/iphone-3.png");
  background-size: 157px 320px;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding: 114px 0 0;
    height: 400px;
    text-align: left;
    background-size: 268px 547px;
    background-position: left 90px;
  }

  @media (min-width: @desktop-width) {
    margin-top: px;
    padding: 0;
    justify-content: space-between;
    background: none;
  }
}

.advantages__item {
  @media (min-width: @tablet-width) {
    padding-left: 310px;

    &--friends {
      height: auto;
      text-align: left;
    }
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding: 382px 0 0;
    text-align: center;

    &--cheer {
      background-image: url("../img/iphone-1.png");
      background-size: 186px 382px;
      background-repeat: no-repeat;
      background-position: center top;
    }

    &--change {
      background-image: url("../img/iphone-2.png");
      background-size: 186px 382px;
      background-repeat: no-repeat;
      background-position: center top;
    }

    &--friends {
      background-image: url("../img/iphone-3.png");
      background-size: 186px 382px;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
}

.advantages__title {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 11px;

  @media (min-width: @desktop-width) {
    width: 255px;
    margin: auto;
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  margin: 0 0 32px;

  @media (min-width: @desktop-width) {
    width: 255px;
    margin: 35px auto;
    font-size: 18px;
    line-height: 30px;
  }
}
