.banner {
  color: @white;
  background-color: @darken-blue;
  background-image: url("../img/back-mobile-2.jpg");
  background-size: auto 441px;
  background-repeat: no-repeat;
  background-position: center 21px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    background-position: center;
    background-size: auto;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
  }
}

.banner__wrapper {
  width: @mobile-width;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  background-image: url("../img/banner-phone-mobile.png");
  background-size: auto 286px;
  background-repeat: no-repeat;
  background-position: center 177px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  &--inner {
    background-image: none;
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    background-image: url("../img/banner-phone.png");
    background-size: auto 545px;
    background-repeat: no-repeat;
    background-position: -110px bottom;

    &--inner {
      background-image: none;
      align-items: center;
    }
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 130px;
    background-image: url("../img/banner-phone.png");
    background-size: auto 645px;
    background-repeat: no-repeat;
    background-position: 146px bottom;

    &--inner {
      background-image: none;
    }
  }
}

.banner__caption {
  font-weight: 300;
  width: 280px;
  font-size: 24px;
  line-height: 120%;
  margin-top: 90px;
  margin-bottom: 310px;

  &--inner {
    line-height: 33px;
    margin-top: 95px;
    margin-bottom: 44px;
  }

  @media (min-width: @tablet-width) {
    width: 240px;
    font-size: 40px;
    margin-bottom: 2px;
    margin-top: 205px;
    margin-left: 30px;

    &--inner {
      font-size: 50px;
      line-height: 68px;
      width: 570px;
      margin-top: 178px;
      margin-bottom: 59px;
      margin-left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 210px;
    margin-bottom: 7px;

    &--inner {
      width: 750px;
      margin-top: 169px;
      margin-bottom: 89px;
    }
  }
}

.banner__link-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    width: 300px;
    margin-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 95px;
  }
}

.banner__link--button {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  width: 280px;
  height: 55px;
  padding: 15px 0;
  margin-top: 35px;
  margin-bottom: 19px;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: transparent;

  &:focus,
  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: @fade-pink;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-top: 28px;
    margin-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.banner__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    margin-bottom: 37px;
  }
}

.banner__link {
  &--image {
    margin-right: 35px;
    height: auto;
  }

  &--image:last-child {
    margin-right: 0;
  }
}

.banner__os-text {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 9px;
  }
}
