.banner {
  height: 733px;
  color: @white;
  background-color: @darken-blue;
  background-image: url("../img/back-mobile-1.jpg");
  background-size: auto 462px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;

  @media (min-width: @tablet-width) {
    height: 729px;
    background-image: url("../img/back-tablet.jpg");
    background-size: auto;
  }

  @media (min-width: @desktop-width) {
    height: 853px;
    background-image: url("../img/back-desktop.jpg");
  }
}

.banner__wrapper {
  width: @mobile-width;
  max-width: 100%;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  background-image: url("../img/banner-phone.png");
  background-size: auto 286px;
  background-repeat: no-repeat;
  background-position: -145px 176px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    background-image: url("../img/banner-phone.png");
    background-size: auto 545px;
    background-repeat: no-repeat;
    background-position: -110px 183px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 130px;
    background-image: url("../img/banner-phone.png");
    background-size: auto 645px;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.banner__caption {
  font-weight: 300;
  width: 280px;
  font-size: 24px;
  line-height: 120%;
  margin-top: 95px;
  margin-bottom: 310px;

  @media (min-width: @tablet-width) {
    width: 240px;
    font-size: 40px;
    margin-bottom: 2px;
    margin-top: 212px;
    margin-left: 30px;
  }
}

.banner__link-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    width: 300px;
    margin-bottom: 109px;
  }
}

.banner__link--button {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  width: 280px;
  height: 55px;
  padding: 15px 0;
  margin: 28px 0;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: transparent;

  &:focus,
  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: @fade-pink;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.banner__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.banner__link {
  &--image {
    margin-right: 35px;
  }

  &--image:last-child {
    margin-right: 0;
  }
}

.banner__os-text {
  font-weight: 300;
  margin-top: 10px;
}
