.contacts {
  font-weight: 300;
  font-size: 24px;
  color: @dark-blue;
  text-align: center;
}

.contacts__wrapper {
  padding: 45px 40px 0;
}

.contacts__caption {
  margin: 0 0 35px;
  line-height: 120%;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item {
  margin-bottom: 18px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.contacts__link {
  text-decoration: none;
  color: @pink;
  line-height: 33px;

  &:focus,
  &:hover {
    text-decoration-line: underline;
    color: @dark-blue;
  }

  &:active {
    text-decoration-line: none;
    opacity: 30%;
  }
}

.contacts__map {
  width: 320px;
  height: 200px;
  position: relative;
  margin-left: -40px;
  z-index: -1;

  &::after {
    content: "";
    width: 1200px;
    height: 123px;
    background-image: url("../img/triangle-white-footer.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
}
