.entries {
  color: @dark-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.entries__wrapper {
  width: @mobile-width;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 130px;
  }
}

.entries__description {
  text-align: center;
  margin: 45px 0 49px;

  &--footer {
    margin: 44px 0 41px;
  }

  @media (min-width: @tablet-width) {
    width: 572px;
    margin: 91px auto 77px;

    &--footer {
      margin: 46px auto 70px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 90px auto 90px;

    &--footer {
      margin: 4px auto 67px;
    }
  }
}
