.main-nav {
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.main-nav__logo {
  background-color: @dark-blue;
  padding: 23px 20px;
  box-shadow: 0 1px 0 @black;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
