.name-form {
  @media (min-width: @tablet-width) {
    width: 100%;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
  }
}

.name-form__list {
  @media (min-width: @tablet-width) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.name-form__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }
}

.name-form__label {
  color: @pink;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 23px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.name-form__input {
  width: 280px;
  height: 63px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 17px;

  &:hover {
    border-color: @dark-blue;
  }

  &:focus {
    border-color: @pink;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 0 18px;
    flex-grow: 1;
  }
}
