.offers {
  background-image: url("../img/grey-background-2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.offers__wrapper {
  height: 506px;
  box-sizing: border-box;
  padding-top: 130px;
  text-align: center;
  overflow: hidden;
}

.offers__toggles {
  margin-top: 30px;
}
