.os-form {
  margin-top: 64px;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    width: 100vw;
    height: 340px;
    background-color: @dark-white;
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 0;
    padding: 48px 0 14px;
    order: 2;

    &::before {
      content: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 434px;
    margin-top: 0;
  }
}

.os-form__legend {
  margin: 42px 0 38px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 24px;
  }
}

.os-form__list {
  @media (min-width: @tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 71px;
  }
}

.os-form__item {
  height: 37px;
  margin-bottom: 38px;

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.os-form__label {
  color: @dark-blue;
  font-size: 18px;
  padding-left: 70px;
  padding-top: 7px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: @white;
    border: 2px solid @darken-white;
    border-radius: 50%;
  }

  &:focus::before,
  &:hover::before {
    border-color: @dark-blue;
  }

  &:active::before {
    border-color: @pink;
  }

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.os-form__input {
  display: none;

  &:checked + .os-form__label::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-color: @pink;
    border-radius: 50%;
  }
}
