.page-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__link {
  display: block;
  margin: 40px 0;
  cursor: pointer;

  &:focus path,
  &:hover path {
    fill: @pink;
  }

  &:active {
    opacity: 30%;
  }
}
