.publication {
  background-color: @dark-white;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto 26px;
  }
}

.publication__wrapper {
  width: @mobile-width;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 55px 20px;
    height: 511px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin-left: -130px;
    padding: 0 130px;
    height: 514px;
  }
}

.publication__form {
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content;
    grid-template-areas: "ph f" "ph b";
    grid-gap: 42px 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 60px 57px 80px;
    grid-gap: 120px 90px;
  }
}

.publication__photo {
  width: 280px;
  height: auto;
  margin-bottom: 42px;
  grid-area: ph;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.publication__filter-wrapper {
  width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 275px;
    margin-bottom: 13px;
    grid-area: f;
    align-items: start;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.publication__filter {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 35px;
  cursor: pointer;

  &:nth-of-type(3n+1) {
    margin-left: -11px;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }


  @media (min-width: @tablet-width) {
    margin: 0 0 0 -11px;
    width: 48px;
    height: 48px;
    transform: scale(0.5);
  }

  @media (min-width: @desktop-width) {
    transform: scale(1);
    margin: 0;

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }
}

.publication__filter-svg {
  fill: @dark-blue;
  opacity: 30%;

  &:focus,
  &:hover {
    opacity: 50%;
  }

  &:active,
  &--active {
    fill: @pink;
    opacity: 100%;
  }

  @media (min-width: @tablet-width) {
    fill: @pink;
    opacity: 100%;

    &:focus,
    &:hover {
      opacity: 100%;
    }

    &:active,
    &--active {
      opacity: 100%;
    }
  }
}

.publication__range-filter {
  display: none;
  height: 58px;
  padding: 39px 40px 34px;
  border-bottom: 1px solid fade(@dark-blue, 10%);
  box-sizing: border-box;
  order: 4;

  &--active {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: block;
    order: 0;
    width: 275px;
    padding: 21px 17px 28px 55px;
    margin-left: -53px;
    margin-right: 3px;
    margin-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    padding: 19px 39px 28px 95px;
    margin-left: 0 0 0 -50px;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.publication__range-controls {
  position: relative;
  width: 240px;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.publication__scale {
  height: 2px;
  width: 100%;
  background-color: @dark-blue;
}

.publication__toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid @pink;
  background-color: @white;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background-color: @pink;
  }

  @media (min-width: @tablet-width) {
    &--crop {
      left: 72%;
    }

    &--fill {
      left: 13%;
    }

    &--contrast {
      left: 47.5%;
    }
  }

  @media (min-width: @desktop-width) {
    &--crop {
      left: 24%;
    }

    &--fill {
      left: 85.5%;
    }

    &--contrast {
      left: 56%;
    }
  }
}

.publication__button-wrapper {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    grid-area: b;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}
