.publication {
  background-color: @dark-white;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.publication__wrapper {
  width: @mobile-width;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 55px 20px;
    height: 511px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin-left: -130px;
    padding: 0 130px;
    height: 514px;
  }
}

.publication__form {
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content;
    grid-template-areas: "ph f" "ph b";
    grid-gap: 42px 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 60px 57px 80px;
    grid-gap: 120px 90px;
  }
}

.publication__photo {
  width: 280px;
  height: auto;
  margin-bottom: 42px;
  grid-area: ph;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.publication__filter-wrapper {
  width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  @media (min-width: @tablet-width) {
    width: 275px;
    grid-area: f;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.publication__filter {
  background-color: transparent;
  border: none;
  margin-right: 35px;
  cursor: pointer;

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &:focus g,
  &:hover g {
    opacity: 50%;
  }

  &:active g,
  &--active g {
    fill: @pink;
    opacity: 100%;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 48px;
    transform: scale(0.5);

    g {
      fill: @pink;
      opacity: 100%;
    }

    &:focus g,
    &:hover g {
      opacity: 100%;
    }

    &:active g,
    &--active g {
      opacity: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    transform: scale(1);
  }
}

.publication__range-filter {
  display: none;
  height: 58px;
  padding: 39px 40px 34px;
  border-bottom: 1px solid fade(@dark-blue, 10%);
  box-sizing: border-box;
  order: 4;

  &--active {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: block;
    order: 0;
    width: 275px;
    padding: 24px 17px 24px 55px;
    margin-left: -64px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    padding: 29px 39px 30px 92px;
    margin-left: -48px;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.publication__range-controls {
  position: relative;
  width: 240px;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.publication__scale {
  height: 2px;
  width: 100%;
  background-color: @dark-blue;
}

.publication__toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  padding: 0;
  border: 2px solid @pink;
  background-color: @white;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background-color: @pink;
  }
}

.publication__button-wrapper {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    grid-area: b;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}
