.social__list {
  list-style: none;
  width: 178px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-left: -15px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 8px;
    width: 172px;
  }
}

.social__link {
  width: 48px;
  height: 48px;
  background-color: @white;
  border: 3px solid fade(@dark-blue, 10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    border-color: @dark-blue;
  }

  &:active {
    opacity: 0.1;
  }

  &--facebook img {
    margin-right: -1px;
  }

  &--youtube img {
    margin-right: -5px;
  }
}
