.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: @white;
  border: 3px solid @dark-blue;
  border-radius: 50%;
  opacity: 0.1;
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}
