.textarea {
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 58px;
    padding: 21px 58px 41px;
    order: 5;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
    padding: 34px 60px;
  }
}

.textarea__legend {
  padding: 0 38px;
}

.textarea__input {
  font: inherit;
  font-size: 18px;
  width: 280px;
  min-height: 202px;
  resize: none;
  padding: 13px 20px;
  margin-top: 16px;
  border: 2px solid @darken-white;
  border-radius: 1px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 193px;
  }

  @media (min-width: @desktop-width) {
    min-height: 127px;
    margin: 0;
  }
}
