.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db
/source/img/contrast.svg
/source/img/crop.svg
/source/img/fill.svg
/source/img/logotype-white-desktop.svg
/source/img/logotype-white-tablet.svg
/source/img/logotype-blue-tablet.svg
/build/
