/* colors */
@white: #FFFFFF;
@dark-white: #F2F2F2;
@darken-white: #E5E5E5;
@fade-white: rgba(255, 255, 255, 0.3);
@black: #000000;
@fade-black: rgba(0, 0, 0, 0.3);
@dark-blue: #283645;
@darken-blue: #1D2631;
@pink: #D22856;
@fade-pink: rgba(210, 40, 86, 0.3);
@green: #2AAB6D;
@dark-green: #1C9B5E;

/* sizes */
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-cell-width: 276px;
@tablet-cell-width: 152px;
@desktop-cell-width: 234px;
